@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<h1>How to connect sdk</h1>

<blockquote class="blockstyle">
    <code>
        SentrySdk.Init(o => o.Dsn = "@url");
    </code>
</blockquote>

@code
{
    string url => $"{NavigationManager.BaseUri}1".Replace("://", "://5e79a97ae19d4187becbc9e4cdf2de52@");
}
